.a{border-radius:50px; background-size: 100% 100%; background-color: gray; height: 80px; padding-top: 520px;  
   color: white; text-decoration: none; font-family: Lucida Sans Unicode; font-size: 14px;}
.b{background-color:#0071E3; border-radius:20px; width:10%; padding: 7px 15px;}
.c{font-family: Lucida Sans Unicode; color: white;}
#iphone {background-image:url('iphon17.jpg');}
#vision {background-image:url('Vision Pro.png');}
#airpod {background-image:url('airpodsmax.jpg');}