.uno{padding: 20px; border-radius: 60px; width: 70%; height: 80%; gap: 10px; background-size: 100% 100%;}
#apple{background-image: url('video.png');}
#logi{background-image:url('logitechlogo.JPG');}
#dji{background-image:url('dji.jpg');}